<div class="card width-100 border-0 mb-2 bg-transparent">
    <img src="/assets/images/placeholder.png" class="card-img-top" alt="...">
    <div class="card-body">
        <div class="book-title"><a href="{{ book.link }}">{{ book.title }}</a></div>
        <div class="card-text">
            <div class="auth-ill">by {{ book.author }}</div>
            <div class="auth-ill">illustrated by {{ book.illustrator }}</div>
            <div class="auth-ill">Age Range: {{ book.ages }}</div>
            <p class="description">{{ book.desc }}</p>
        </div>
    </div>
</div>