---
layout: default
---
<article class="page">
    <div class="page-content">
      <div class="row col-12">
        <div class="img-wrapper">
          <!-- Image requires better caption once we have context. -->
          <img src="/assets/images/Untitled_3.jpeg" alt="image name Untitled_3.jpeg" />
          <div class="centered">
            <h1>About the Exhibit</h1>
          </div>
        </div>
      </div>
      <div class="container col-12 col-lg-8">
        {{content}}
      </div>
    </div>
  </article>
  