{% include head.html %}

<article class="page">
  <div class="page-content border-top border-4 border-secondary">
    <!-- Check if w-100 works according to col standard; need for img-wrapper behavior -->
    {% if page.image %}
    <div class="container-fluid position-relative  d-flex justify-content-center">
      <!-- Image requires better caption once we have context. -->
      <img class="banner-image w-100 image-fluid" src="{{ page.image }}" alt="{{page.image_alt}}" />
      <div class="centerTitle bg-dark pt-4 px-5 rounded-3 bg-opacity-75">
        <div class="text-center text-white">
          <h1>{{ page.title }}</h1>
        </div>
      </div>
    </div>
    {% else %}
    <div class="container-fluid col-12 col-lg-10 col-xxl-8">
      <h2>{{ page.title }}</h2>
      {% if page.representation %}
      <div class="representation text-uppercase h3 text-center">
        {{ page.representation }}
      </div>
      {% endif %}
    </div>
    {% endif %}

    <div class="container-fluid col-12 col-lg-10 col-xxl-8">
      {{content}}
    </div>
  </div>
</article>

{% include footer.html %}