---
layout: default
---
<!-- All examples found came back to CSS? -->
<!-- Alternative idea of 1-slide carousel seems heavy on efficiency for this -->

<article class="page">
  <div class="page-content">
    <div class="row col-12">
      <div class="img-wrapper">
      <!-- Image requires better caption once we have context. -->
        <img src="/assets/images/T.2019.23.1sm.jpg" alt = "image name T.2019.23.1sm.jpg"/>
      <div class="centered-home"><h1>Finding Freedom Summer Traveling Exhibit</h1></div>
      </div>
    </div>
    <div class="container col-12 col-lg-8">
      {{content}}
    </div>
  </div>
</article>
