---
layout: default
---
<!-- All examples found came back to CSS? -->
<!-- Alternative idea of 1-slide carousel seems heavy on efficiency for this -->
<style>
  .img-wrapper {
    position: relative;
    text-align: center;
    color: white;
  }

  .img-wrapper h1 {
    /* accessibility? */
    opacity: 0.85;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>

<article class="page">
  <div class="page-content">
    <div class="row col-12">
      <div class="img-wrapper">
      <!-- Image requires better caption once we have context. -->
        <img src="/assets/images/T.2019.23.1sm.jpg" alt = "image name T.2019.23.1sm.jpg"/>
      <div class="centered"><h1>Finding Freedom Summer Traveling Exhibit</h1></div>
      </div>
    </div>
    <div class="container col-12 col-lg-8">
      {{content}}
    </div>
  </div>
</article>
