---
layout: default
---

<article class="page">
  <div class="post-header">
    <h1 class="post-title">Posts</h1>
  </div>

  <div class="page-content">
        
          {% for post in site.posts %}
            <section class="contents">
            
            {% if posts.feature-image %}       
                <div class="">
                    <a href="{{ post.url }}"><img class="feature-image" src="{{ post.feature-image }}" alt="{{ post.title }}"></a>
                </div>
            {% endif %}

              <h2 class="">
                  <a class="" href="{{ post.url }}">{{ post.title }}</a>
                </h2>
              </section>
          {% endfor %}
        </div>
  </div>