---
layout: default
permalink: /related/
---

<!--
style>
  .y-axis{
    display: block;
  }

  .x-axis2 {
    width:49%;
  }

  .x-axis3 {
    width:33%;
  }

  .x-axis2, .x-axis3 {
    display:inline-block;
  }
</style>
-->

<article class="page">
    <div class="page content">
        <div class="row col-12">
            <!-- Alt text is automatically handled? not auto, but in content?-->
            <img src="/assets/images/0812410.jpg">
        </div>
        <!-- Alternative container for different type of content or not? -->
        <div class="container col-12 col-lg-8">
            <h1>{{page.title}}</h1>
            {{content}}
            <div class="container col">
                <!-- Upper Row -->
                <div class="row">
                    <div class="col">
                        <!-- Card 1 -->
                        <div class="card width-100 border-0">
                            <img src="/assets/images/placeholder.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Freedom Summer Activities at Miami University</h5>
                                <p class="card-test"># of records</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- Card 2 -->
                        <div class="card width-100 border-0">
                            <img src="/assets/images/placeholder.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">National Civil Rights Organizations and Archives</h5>
                                <p class="card-test"># of records</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Under Row -->
                <div class="row">
                    <div class="col">
                        <!-- Card 1 -->
                        <div class="card width-100 border-0">
                            <img src="/assets/images/placeholder.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Books</h5>
                                <p class="card-test"># of records</p>
                            </div>
                        </div>
                    </div>
                        <!-- Card 2 -->
                    <div class="col">
                        <div class="card width-100 border-0">
                            <img src="/assets/images/placeholder.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Books for Children, Teens, & Young Adults</h5>
                                <p class="card-test"># of records</p>
                            </div>
                        </div>
                    </div>
                        <!-- Card 3 -->
                    <div class="col">
                        <div class="card width-100 border-0">
                            <img src="/assets/images/placeholder.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Documentaries</h5>
                                <p class="card-test"># of records</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="container bg-white">
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-primary">View All Resources</button>
                </div>
            </div>
        </div>
    </div>
</article>