---
layout: default
permalink: /related/
---

<article class="page">
    <div class="page-content">
      <div class="row col-12">
        <div class="img-wrapper">
        <!-- Image requires better caption once we have context. -->
          <img src="/assets/images/Untitled_7-1.jpeg" alt = "image name Untitled_7-1"/>
        <div class="centered"><h1>Related Resources</h1></div>
        </div>
      </div>
      <div class="container col-12 col-lg-8">
        {{content}}
      </div>
    </div>
  </article>