---
layout: default
permalink: /related/
---
<article class="page">
    <div class="page-content">
        <div class="row col-8">
            <div class="img">
                <!-- Image requires better caption once we have context. -->
                <img src="/assets/images/Untitled_7-1.jpeg" alt="image name Untitled_7-1" />
                <div class="centered">
                    <h1>Related Resources</h1>
                </div>
            </div>
        </div>
        <div class="container col-12 col-lg-8">
            <h2>Related Resources</h2>
            {{content}}
        </div>
        <!-- Cards -->
        <div class="container col-12 col-lg-8">
            <div class="container col">
                <!-- Upper Row -->
                <div class="row">
                    <div class="col">
                        <!-- Card 1 -->
                        <div class="card width-100 border-0 mb-2 bg-transparent">
                            <img src="/assets/images/placeholder.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Freedom Summer Activities at Miami University</h5>
                                <p class="card-text"># of records</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- Card 2 -->
                        <div class="card width-100 border-0 mb-2 bg-transparent">
                            <img src="/assets/images/placeholder.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">National Civil Rights Organizations and Archives</h5>
                                <p class="card-text"># of records</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Under Row -->
                <div class="row">
                    <div class="col">
                        <!-- Card 1 -->
                        <div class="card width-100 border-0 mb-2 bg-transparent">
                            <img src="/assets/images/placeholder.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Books</h5>
                                <p class="card-text"># of records</p>
                            </div>
                        </div>
                    </div>
                    <!-- Card 2 -->
                    <div class="col">
                        <div class="card width-100 border-0 mb-2 bg-transparent">
                            <img src="/assets/images/placeholder.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Books for Children, Teens, & Young Adults</h5>
                                <p class="card-text"># of records</p>
                            </div>
                        </div>
                    </div>
                    <!-- Card 3 -->
                    <div class="col">
                        <div class="card width-100 border-0 mb-2 bg-transparent">
                            <img src="/assets/images/placeholder.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Documentaries</h5>
                                <p class="card-text"># of records</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container --bs-bg-opacity" style="padding-top:2rem;">
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-dark">View All Resources</button>
                </div>
            </div>
        </div>
    </div>
</article>
</div>
</div>
</article>