{% include head.html %}

<article class="page">
  <div class="page-content border-top border-4 border-secondary">
    <div class="container col-12 col-lg-8">
      {% assign title = page.title %}
      {% assign themes = site.data.image_captions | where: "Themes", title %}
      <h2>{{title}}</h2>
      {% for theme in themes %}
      {% assign value = forloop.index | modulo: 2 %}
      {% if theme.Filename != "---" %}
      <div class="card mt-4 border-0 bg-transparent">
        <div class="row g-0">
          {% if value == 0 %}
          <div class="col-md-9">
            <img src="../assets/images/Complete/{{theme.Filename}}" alt="{{theme.CreditLine}}"
              class="img-fluid rounded-start">
          </div>
          <div class="col-md-3 d-flex bg-blue-tran">
            <div class="card-body">
              <p class="card-text">{{theme.CreditLine}}</p>
            </div>
          </div>
          {% else %}
          <div class="col-md-3 d-flex bg-blue-tran">
            <div class="card-body">
              <p class="card-text">{{theme.CreditLine}}</p>
            </div>
          </div>
          <div class="col-md-9">
            <img src="../assets/images/Complete/{{theme.Filename}}" alt="{{theme.CreditLine}}"
              class="img-fluid rounded-start">
          </div>
          {% endif %}
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</article>

{% include footer.html %}