{% include head.html %}

<article class="page">
  <div class="page-content border-top border-4 border-secondary">
    <div class="container col-12 col-lg-8">
      {% assign title = page.title %}
      {% assign themes = site.data.image_captions | where: "Themes", title %}
      <h2 class="text-center">{{title}}</h2>
      {% for theme in themes %}
      {% assign value = forloop.index | modulo: 2 %}
      <div class="card my-5 border-0 bg-transparent">
        <div class="row pb-5">
          {% if value == 0 %}
          <div class="col-md-9">
            <!-- Button trigger modal -->
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#file{{ forloop.index }}">
              <img src="../assets/images/Complete/{{theme.Filename}}" alt="{{theme.CreditLine}}"
                class="img-fluid rounded-start">
            </button>

            <!-- Modal -->
            <div class="modal fade" id="file{{ forloop.index }}" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" style="max-width: 90vw;">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{theme.Themes}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <img src="../assets/images/Complete/{{theme.Filename}}" alt="{{theme.CreditLine}}"
                      class="img-fluid rounded-start">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 d-flex bg-blue-tran">
            <div class="card-body">
              <p class="card-text">{{theme.CreditLine}}</p>
            </div>
          </div>
          {% else %}
          <div class="col-md-3 d-flex bg-blue-tran">
            <div class="card-body">
              <p class="card-text">{{theme.CreditLine}}</p>
            </div>
          </div>
          <div class="col-md-9">
            <!-- Button trigger modal -->
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#file{{ forloop.index }}">
              <img src="../assets/images/Complete/{{theme.Filename}}" alt="{{theme.CreditLine}}"
                class="img-fluid rounded-start">
            </button>

            <!-- Modal -->
            <div class="modal fade" id="file{{ forloop.index }}" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" style="max-width: 90vw;">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{theme.Themes}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <img src="../assets/images/Complete/{{theme.Filename}}" alt="{{theme.CreditLine}}"
                      class="img-fluid rounded-start">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</article>

{% include footer.html %}